<main>
  <section class="text-container">
    <div class="title">Dateiformate</div>
  </section>
  <section class="text-container">
    <div class="title">MP4</div>
  </section>
  <section class="buttons-container">
      <video src="../../assets/patrice.mp4" controls></video>
  </section>
  <section class="text-container">
    <div class="text">MP4 (MPEG-4 Part 14): MP4 ist ein weit verbreitetes und beliebtes Multimedia-Containerformat. Es wurde von der Moving Picture Experts Group (MPEG) entwickelt und kann sowohl Video- als auch Audiodaten enthalten. MP4-Dateien verwenden in der Regel die H.264-Video-Codierung und AAC-Audio-Codierung, was zu einer guten Qualität bei vergleichsweise geringer Dateigröße führt. MP4 ist kompatibel mit den meisten Media-Playern und Geräten.</div>
  </section>
  <section class="text-container">
    <div class="title">Mov</div>
  </section>
  <section class="buttons-container">
      <video src="../../assets/patrice.mov" controls></video>
  </section>
  <section class="text-container">
    <div class="text">MOV (QuickTime Movie): MOV ist ein von Apple entwickeltes Multimedia-Containerformat. Es wird häufig für Videos und Animationen verwendet und unterstützt verschiedene Video- und Audio-Codecs. MOV-Dateien sind bekannt für ihre hohe Qualität und werden oft in professionellen Umgebungen wie der Filmproduktion eingesetzt. MOV-Dateien sind standardmäßig mit QuickTime-Player auf Mac-Systemen kompatibel, können jedoch auch auf Windows und anderen Plattformen abgespielt werden, wenn die entsprechenden Codecs installiert sind.</div>
  </section>
  <section class="text-container">
    <div class="title">MKV</div>
  </section>
  <section class="buttons-container">
      <video src="../../assets/patrice.mkv" controls></video>
  </section>
  <section class="text-container">
    <div class="text">MKV (Matroska Video): MKV ist ein Open-Source-Multimedia-Containerformat, das von Matroska entwickelt wurde. Es ermöglicht die Speicherung von Video-, Audio-, Untertitel- und Bildinhalten in einer einzigen Datei. MKV unterstützt eine breite Palette von Codecs und ist bekannt für seine Flexibilität und Unterstützung von erweiterten Funktionen wie mehreren Audiospuren und Untertiteln. MKV-Dateien sind mit den meisten Media-Playern kompatibel, aber möglicherweise müssen zusätzliche Codecs installiert werden, um bestimmte Codecs oder Funktionen zu unterstützen.</div>
  </section>
  <section class="text-container">
    <div class="title">JPG</div>
  </section>
  <section class="buttons-container">
      <img src="../../assets/patrice.jpg">
  </section>
  <section class="text-container">
    <div class="text">JPG (auch JPEG genannt, Joint Photographic Experts Group): JPG ist ein weit verbreitetes und stark komprimiertes Bildformat, das speziell für fotografische Bilder entwickelt wurde. Es verwendet eine verlustbehaftete Komprimierung, um die Dateigröße zu reduzieren und Speicherplatz zu sparen. Dadurch können JPG-Bilder relativ kleine Dateigrößen haben, was sie für die Verwendung im Internet und für den Austausch über das Netzwerk geeignet macht. Allerdings geht bei der Kompression ein gewisser Detailverlust einher, was zu einer leicht verringerten Bildqualität führen kann. JPG unterstützt keine Transparenz.</div>
  </section>
  <section class="text-container">
    <div class="title">PNG</div>
  </section>
  <section class="buttons-container">
      <img src="../../assets/patrice.png">
  </section>
  <section class="text-container">
    <div class="text">PNG (Portable Network Graphics): PNG ist ein verlustfreies Bildformat, das entwickelt wurde, um die Nachteile von JPG zu überwinden. Es bietet eine bessere Bildqualität und unterstützt sowohl komprimierte als auch unkomprimierte Bilddaten. PNG eignet sich gut für Bilder mit klaren Linien, Texten oder Grafiken mit begrenzter Farbpalette. Es unterstützt auch den Alphakanal, was bedeutet, dass es Transparenz in Bildern ermöglicht. PNG-Dateien sind normalerweise größer als JPG-Dateien, da sie keine verlustbehaftete Kompression verwenden.</div>
  </section>
  <section class="text-container">
    <div class="title">BMP</div>
  </section>
  <section class="buttons-container">
      <img src="../../assets/patrice.bmp">
  </section>
  <section class="text-container">
    <div class="text">BMP (Bitmap): BMP ist ein unkomprimiertes Bildformat, das eine exakte Darstellung der Bildinformationen bietet. BMP-Dateien enthalten Pixelinformationen für jedes einzelne Bildpunkt (Pixel) im Bild und sind daher oft groß im Vergleich zu komprimierten Formaten wie JPG und PNG. BMP eignet sich gut für die Speicherung von Bildern ohne Qualitätsverlust und wird oft in professionellen Anwendungen und bei der Bildbearbeitung verwendet. Es unterstützt keine Transparenz.</div>
  </section>
  <section class="text-container">
    <div class="title">MP3</div>
  </section>
  <section class="buttons-container">
      <audio src="../../assets/patrice.mp3" controls></audio>
  </section>
  <section class="text-container">
    <div class="text">MP3 (MPEG-1 Audio Layer 3): MP3 ist ein weit verbreitetes und populäres Audioformat, das eine verlustbehaftete Komprimierung verwendet. Es wurde entwickelt, um die Dateigröße von Audiodateien zu reduzieren, während eine akzeptable Klangqualität beibehalten wird. MP3-Dateien sind relativ klein und eignen sich daher gut für die Speicherung und Übertragung von Musik über das Internet oder auf tragbaren Geräten. Die Komprimierung führt jedoch zu einem gewissen Qualitätsverlust, insbesondere bei niedrigen Bitraten.</div>
  </section>
  <section class="text-container">
    <div class="title">WAV</div>
  </section>
  <section class="buttons-container">
      <audio src="../../assets/patrice.wav" controls></audio>
  </section>
  <section class="text-container">
    <div class="text">WAV (Waveform Audio File Format): WAV ist ein unkomprimiertes Audioformat, das die Audiodaten in einem Rohformat speichert. WAV bietet eine verlustfreie Audiowiedergabe und ist daher bekannt für seine hohe Klangqualität. Da WAV-Dateien unkomprimiert sind, haben sie eine größere Dateigröße im Vergleich zu komprimierten Formaten wie MP3. WAV wird häufig in professionellen Audioproduktionen, Musikstudios und bei der Bearbeitung von Audiodateien verwendet.</div>
  </section>
  <section class="text-container">
    <div class="title">OGG</div>
  </section>
  <section class="buttons-container">
      <audio src="../../assets/patrice.ogg" controls></audio>
  </section>
  <section class="text-container">
    <div class="text">OGG (Ogg Vorbis): OGG ist ein Open-Source-Audioformat, das eine verlustbehaftete Komprimierung verwendet. Es wurde entwickelt, um eine gute Klangqualität bei einer kleineren Dateigröße im Vergleich zu MP3 zu bieten. OGG wird häufig für Streaming-Medien und Internetradio verwendet. Es unterstützt auch erweiterte Funktionen wie mehrere Audiostreams und Metadaten. OGG-Dateien können sowohl Audiodaten als auch Videodaten enthalten (im Ogg Containerformat), obwohl sie meist für Audio verwendet werden.</div>
  </section>
</main>
