html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}
.title {
  font-size: xx-large;
  font-weight: bold;
}
.title2 {
  font-size: larger;
  font-weight: bold;
}
.text {
  font-size: medium;
}

.textbold{
  font-size: medium;
  font-weight: bold;
}

button {
  background-color: rgb(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.2s;
  border-style: none;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0);
}
.mp4{
  opacity: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: url("./assets/patrice.mp4");
  height: 800px;
  width: 800px;
}
