<main>
  <section class="text-container">
    <div class="title">Urheberrecht</div>
    <div class="title2">Urheber/Publisher</div>
    <div class="text">Patrice Hotz, Kane Gjisbers</div>
  </section>
  <section class="text-container">
    <div class="title2">Unterschied zwischen Copyright und Lizenzen im Internet</div>
    <div class="text">
      Copyright bezieht sich auf das rechtliche Schutzrecht, das Urhebern für ihre kreativen Werke gewährt wird. Es ermöglicht ihnen die Kontrolle über die Verbreitung und Nutzung ihrer Werke. Lizenzen hingegen sind Vereinbarungen, die es anderen ermöglichen, bestimmte Rechte an diesen Werken zu erwerben, während der Urheber das Copyright behält. Im Internet ist es wichtig, Urheberrechte zu respektieren und nach Lizenzen zu suchen, bevor man geschützte Werke verwendet. Es gibt verschiedene Arten von Lizenzen, die die Nutzungsmöglichkeiten festlegen können. Bei Verletzungen von Urheberrechten können rechtliche Konsequenzen wie Schadensersatzforderungen oder Unterlassungsansprüche drohen. Daher ist es ratsam, immer die Rechte des Urhebers zu respektieren und bei Bedarf rechtlichen Rat einzuholen.
    </div>
    <div class="textbold">
      Public Domain
    </div>
    <div class="text">
      Im Kontext des Urheberrechts bezieht sich der Begriff "Public Domain" auf Werke, bei denen das Urheberrecht abgelaufen ist oder die von Anfang an nicht urheberrechtlich geschützt waren. Werke, die sich in der Public Domain befinden, können frei genutzt, kopiert, modifiziert und verbreitet werden, ohne dass eine Erlaubnis des Urhebers erforderlich ist. Diese Werke stehen der Öffentlichkeit zur freien Verfügung.
    </div>
    <div class="textbold">
      Fair Use
    </div>
    <div class="text">
      "Fair Use" ist ein Rechtskonzept im Urheberrechtssystem der Vereinigten Staaten, das es erlaubt, urheberrechtlich geschützte Werke in bestimmten Fällen ohne Zustimmung des Urhebers zu verwenden. Es handelt sich um eine Ausnahmeregelung, die es ermöglicht, geschützte Werke für bestimmte Zwecke wie Kritik, Kommentar, Berichterstattung, Bildung oder wissenschaftliche Forschung zu nutzen, selbst wenn dies normalerweise eine Urheberrechtsverletzung darstellen würde.
    </div>
  </section>
  <section class="text-container">
    <div class="title2">Impressum</div>
    <div class="textbold">
      Anbieter
    </div>
    <div class="text">
      Patrice Hotz, Kane Gjisbers
    </div>
    <div class="textbold">
      Kontakt
    </div>
    <div class="text">
      Email: patrice.hotz@leuchterag.ch, kane.gjisbers@kauz.ch
    </div>
  </section>
  <section class="text-container">
    <div class="title2">Quellen</div>
    <div class="text">
      SVG: <a href="https://blog.logrocket.com/how-to-animate-svg-css-tutorial-examples/#hamburger-menu">blog</a>
    </div>
  </section>
</main>
