<main>
  <section class="text-container">
    <div class="title">Welcome to Projekt 1</div>
    <div class="title2">Where do you want to go?</div>
  </section>
  <section class="buttons-container">
      <a routerLink="/concept" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Concept</button></a>
      <a routerLink="/copyright" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Urheberrecht</button></a>
      <a routerLink="/datatypes" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Datentypen</button></a>
      <a routerLink="/animations" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Animationen</button></a>
  </section>
</main>
